$color-white: #FFF;

$color-beige: #CDC589;
$color-yellow: #fcd462;

$color-red: #fe7058;
$color-green-light: #b1d6da;
$color-green: #89c5cd;

$color-blue: #05afd6;

$color-grey-light: #ababab;
$color-grey: #888;

$color-black: #000;
