@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.button {
  background-color: $color-blue;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 22px;
  cursor: pointer;

  &:hover {
    background-color: $color-green-light;
  }
}
